

/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
/* body{
    height: 950px;
} */
.container-1{
    z-index: 20000;
}

.header {
    padding: 50px;
    font-size: 40px;
    text-align: center;
    background: purple;
  }
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    top: -10px;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
ul.menu {
    position: relative;
    right: 50px;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: green;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    left: 20px;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color:green;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: green;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    position: relative;
    right: 60px;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color:crimson;
}


/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
.maxwidth{
    height: 526px;
    width: 100%;
}

input[type="search"] {
    position: relative;
    top: -45px;
    padding: 5px 13px;
    text-align: center;
    border-radius: 6px;
    outline: none;
    border: none;
   right: 110px;
  }
  input[type="submit"]{
    width: 83px;
    background-color: green;
    padding: 12px 20px 11px 11px;
    margin: 4px 2px 4px 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    /* top: 185px; */
    /* right: 180%; */
    left: -50px;
    outline: none;
    top: -45px;
  }
  .site-content> .sidebar.catagory-list.list-item{
    background: skyblue;
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.blo{
    display: grid;
    grid-template-columns: 426px 315px 220px;
    position: relative;
    grid-auto-rows: max-content;
    top: -420px;
    height: 392px;
}
  
  img{
    height: 200px;
    position: relative;
    position: relative;
    height: 222px;
  }
  .img1{
    position: relative;
    left: 32px;
    top: 0px;
    height: 300px;
    width: 395px;
    text-align: center;
    background: aqua;
    letter-spacing: 1px;
}
.img2{
    position: relative;
    left: 32px;
    top: 0px;
    height: 300px;
    width: 395px;
    text-align: center;
    background: aqua;
    letter-spacing: 1px;
}
.img3{
    position: relative;
    left: 145px;
    top: 0px;
    height: 300px;
    width: 395px;
    text-align: center;
    background: aqua;
    letter-spacing: 1px;
}
.img:hover{
    transform: scale(1.3);
    transition: all 1s ease;
}
.site-content{
    display: grid;
    grid-template-columns: 63% 37%;
}
.post-img {
    height: 283px;
    position: relative;
    top: 78px;
    left: 50px;
}
aside.sidebar {
    position: relative;
    /* top: -750px; */
    text-align: end;
    width: 100%;
    top: 98px;
    right: 60px;
}
/* .h1-2{
    position: relative;
    bottom: 80px;
} */
.h1-3{
    font-size: 20px;
}

.likned {
    position: relative;
    top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: gray;
}
.post-content{
    width: 100%;
    margin-bottom: 5rem;
}
.site-content.post-content> .post-img, .post-title{
    padding: 1rem 2rem;
    position: relative;

}
.header-3{
    position: relative;
    right: 80px;
}
.site-content.post-content> .post-img.img{
    width: 100%;

}
.site-content.post-content>.post-img.img:hover{
    transform: scale(1.3);
    transition: all 1s ease;
}
.post-content.post-title .likned{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.site-content.post-content.post-title.post-btn{
    border-radius: 0;
    padding: 7rem 1.5rem;
    background: skyblue;
}

button.btn.post-btn {
        height: 28px;
        position: relative;
        top: 14px;
        text-align: center;
        left: 5px;
        padding: 0px 0px 0px 0px;
        margin: 0px 70px;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        color: goldenrod;
    }

    .site-content> .sidebar.catagory-list{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .first-as{
        position: relative;
        top: 10px;
    }

    .head-of-aticle{
        height: 35px;
        position: relative;
        text-align: center;
        font-family: serif;
        font-weight: 600;
        top: 7px;
    }
    .head-of-aticle-1{
        height: 35px;
        position: relative;
        text-align: center;
        font-family: serif;
        font-weight: 600;
        top: -10px;
        right: 218px;
    }
    .heasd{
        height: 35px;
        position: relative;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        right: 250px;
        top: 10px;
        /* left: 250px; */
    }
    .heasd-1{
        height: 35px;
        position: relative;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        right: 420px;
        top: 10px;
    }
    .heasd-2{
        height: 35px;
        position: relative;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        right: 420px;
        top: 10px;
    }
    .sidbar-1{
        position: relative;
        top: -460px;
    }
    .sideba-gg{
        position: relative;
        bottom: 480px;
    }
    /* .heasd-3{
        height: 35px;
        position: relative;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        right: 250px;
        top: 10px;
    } */
    .lorems{
        width: 310px;
        text-align: center;
        background: crimson;
        color: black;
        position: relative;
        left: 30px;
        text-transform: capitalize;
        border-radius: 10px;
        height: 367px;
        word-break: break-all;
        padding: 5px 8px 0px 6px;
    }
    .colums{
        display: grid;
        grid-template-columns: 870px 1030px;
        position: relative;
        top: -678px;
        width: 970px;
        height: 396px;
    }

    .date{
        height: 35px;
        position: relative;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        right: 300px;
        /* left: 250px; */
    }
    .date-1{
        height: 35px;
        position: relative;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        right: 470px;
    }
    .date-2{
        height: 35px;
        position: relative;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        right: 470px;
    }
    .blog-1{
            height: 400px;
            margin: auto;
            width: 619px;
            text-align: center;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: capitalize;
            word-spacing: 5px;
            box-sizing: border-box;
            z-index: 131;
            background-color: tomato;
            padding: 10px 16px;
            position: relative;
            display: inline-block;
    }
    .drop-down{
        display: none;
    }
    .sidbar-2{
            position: relative;
            bottom: 400px;
    }
    .blog-1:hover .drop-down {
        display: block;
        position: relative;
        top: 10px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    .span{
        color: crimson;
    }

    .inpor{
    color: aquamarine;
    text-align: end;
    width: 100%;
    position: relative;
    top: 10px;
    pad: 10px;
    left: 20px;
    margin: 1rem;
    }

    .blo{
        display: grid;
        grid-template-columns: 426px 315px 220px;
        position: relative;
        grid-auto-rows: max-content;
        top: 210px;
        height: 392px;
}
    
      img{
          height: 225px;
      }
      .img{
        height: 200px;
        position: relative;
        position: relative;
        height: 222px;
      }
      .img1{
        position: relative;
        left: 32px;
        top: 0px;
        height: 300px;
        width: 395px;
        text-align: center;
        background: aqua;
        letter-spacing: 1px;
    }
    .img2{
        position: relative;
        left: 32px;
        top: 0px;
        height: 300px;
        width: 395px;
        text-align: center;
        background: aqua;
        letter-spacing: 1px;
    }
    .img3{
        position: relative;
        left: 145px;
        top: 0px;
        height: 300px;
        width: 395px;
        text-align: center;
        background: aqua;
        letter-spacing: 1px;
    }
    .img:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    .fixed{
        position: relative;
        bottom: 400px;
        z-index: 30000;
        background-color: black;
        height: 1923px;
    }
    /* .hoverit{
        text-decoration: none;
        color: crimson;
    }
    .seeit{
        visibility: hidden;
    }
    .hoverit:active .seeit{
            height: auto;
            margin: auto;
            width: 733px;
            text-align: center;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: capitalize;
            word-spacing: 5px;
            box-sizing: border-box;
            z-index: 131;
            background-color: tomato;
            padding: 10px 16px;
            visibility: visible;
    } */

    .gapss{
        position: relative;
        bottom: 200px;
        border: none;
    }

    .imgs{
        height: 200px;
        position: relative;
        position: relative;
        height: 222px;
      }
      .img1{
        position: relative;
        left: 32px;
        top: 0px;
        height: 300px;
        width: 395px;
        text-align: center;
        background: aqua;
        letter-spacing: 1px;
    }
    .img2{
        position: relative;
        left: 32px;
        top: 0px;
        height: 300px;
        width: 395px;
        text-align: center;
        background: aqua;
        letter-spacing: 1px;
    }
    .img3{
        position: relative;
        left: 145px;
        top: 0px;
        height: 300px;
        width: 395px;
        text-align: center;
        background: aqua;
        letter-spacing: 1px;
    }
    .img:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }

  footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 300px;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}